:root {
  --padding: 0.8rem;
  --margin: 0.8rem;
  --banners: rgb(9, 11, 14);
}

.text-left { text-align: left; }
.text-green { color: green; }
.text-orange { color: orange; }
.text-red { color: red; }

table {
  border-collapse: collapse;
  font-size: 0.8rem;
  width: 100%;
}
thead > tr {
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}
tr:nth-child(even) {
  background-color: rgb(10, 10, 10);
}
td, th { text-align: right; }
tbody > tr:hover {
  background-color: rgb(20, 20, 20);
}
tbody {
  font-family: 'DejaVu Sans Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.banner-table {
  margin: var(--margin);
  margin-bottom: calc(var(--margin) * 1.5);
}
.banner {
  background-color: var(--banners);
  padding: var(--padding);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
}

#feed,
#forex,
#composition,
#status,
#indices { width: 100%; }

#panels {
  display: flex;
  flex-wrap: wrap;
}
#panels > * {
  flex: 1 1 20%;
  min-width: 420px;
}
@media screen and (max-width: 32em) {
  #panels > * {
    min-width: 360px;
  }
}
