#header {
  background-color: var(--banners);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}
#connection,
#updated {
  text-transform: uppercase;
}
